:root {
  --primary800: hsl(179, 62%, 53%);
  --primary600: hsl(179, 62%, 43%);
  --secondary500: hsl(71, 73%, 54%);
  --neutral100: hsl(204, 43%, 93%);
  --neutral200: hsl(204, 43%, 83%);
  --neutral300: hsl(218, 22%, 67%);
}

body {
  display: grid;
  place-items: center;
  height: 100dvh;
  font-family: "Karla", sans-serif;
  line-height: 1.6;
  color: var(--neutral300);
  background: var(--neutral100);
}

h1,
.subheader {
  margin-bottom: 0.5em;
}

main {
  max-width: 600px;
  display: grid;
  grid-template-areas:
    "section1 section1"
    "section2 section3";
  --border-radius: 0.5rem;
  @media screen and (max-width: 800px) {
    display: block;
  }

  & section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }

  & section:first-child {
    grid-area: section1;
    background: white;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  & section:nth-child(2) {
    border-bottom-left-radius: var(--border-radius);
    background: var(--primary600);
    color: white;
    @media screen and (max-width: 800px) {
      border-radius: 0;
    }
  }

  & section:last-child {
    border-bottom-right-radius: var(--border-radius);
    background: var(--primary800);
    color: white;
    @media screen and (max-width: 800px) {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

.neutral100 {
  color: var(--neutral100);
}

.neutral200 {
  color: var(--neutral200);
}

.primary600 {
  color: var(--primary600);
}

.secondary500 {
  color: var(--secondary500);
}

.subheader {
  font-size: large;
  font-weight: bold;
}

.price {
  display: flex;
  align-items: center;
  font-size: 0.875rem;

  & .amount {
    font-size: xx-large;
    font-weight: bold;
    margin-right: 0.5em;
    color: white;
  }
}

button {
  color: white;
  background: var(--secondary500);
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  margin-top: auto;
  font-size: inherit;
  font-weight: bold;
  @media screen and (max-width: 800px) {
    margin-top: 2rem;
  }
}

ul {
  list-style: none;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
}
